<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Store</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="home.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,100;1,900&display=swap" rel="stylesheet">
<link href="https://kce7116.s3.jp-tok.cloud-object-storage.appdomain.cloud/home.css" rel="stylesheet">
    </head>
    <body>
        <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="cart.html"><img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/kce7116/logo.jpg"width="125px"></a>
            </div>
            <nav>
                <ul>
                    <li><a href=""><h3><i class="fa-sharp fa-solid fa-house"></i> Home</h3></a></li>
                    <li><a href="list.html">Products Lists</a></li>
                    <li><a href="products.html">Products</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    
                </ul>
            </nav>
            <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/kce7116/inventory.jpeg" width="30px" height="30px">
        </div>
        <div class="row"> 
            <div class="col2">
                <h1>
                    hello there!<br>welcome to Shopzy.
                </h1>
                <p>
                A place for ALL!. A trusted provider of goods and services.
                </p>
                <a href=""class="btn">explore now &#8594</a>
            </div>
            <div class="col2 img">
                <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/kce7116/inventory_management.jpg">
            </div>
        </div>
    </div>
<!-- -----featured catagories-------- -->
<div class="categories">
    <div class="smallcontainer">
    <div class="row">
        <div class="col3"> <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/kce7116/catagory1.jpeg"></div>
        <div class="col3" id="col-i"> <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/kce7116/category2.jpeg"></div>
        <div class="col3"> <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/kce7116/category3.jpeg"></div></div></div></div>
<!-- -----featured catagories-------- -->
<div class="smallcontainer">
 <h2 class="title">featured products</h2>
    <div class="row">
        <div class="pro">
        <div class="col4">
            <img  src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/kce7116/product1.jpeg" >
            <h4>Red Nail Polish</h4>
            <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-stroke"></i></div>
            <p>$30.00</p></div>
        </div> <div class="col4"><div class="pro">
            <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/kce7116/product2.jpeg" >
            <h4>Makeup Kit</h4>
            <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
           <i class="fa fa-star-half-stroke"></i>
           <i class="fa-regular fa-star"></i></div>
            <p>$35.00</p></div>
        </div> <div class="col4"><div class="pro">
            <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/kce7116/product3.jpeg" >
            <h4>Hair Straightning Cream</h4>
            <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa-regular fa-star"></i></div>
            <p>$40.00</p> </div></div> </div></div>


            <footer class="footer-distributed">
      
                <div class="footer-right">
    
                    <!-- <a href="www.google.com"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a> -->
    
                </div>
    
                <div class="footer-left">
    
                    <p class="footer-links">
                        <a class="link-1" href="index.html">Home</a>

                        <a href="contact.html">Contact Us</a>
    
                        <a href="complaint.html">Raise a Complaint</a>
                    </p>
    
                    <p>Shopzy &copy; 2022 All Rights are Reserved</p>
                </div>
    
            </footer>
        </body></html>